<div class="chat-header">
  <div class="current-room-name">CurrentRoomName</div>
  <div class="close-room-container">
    <div class="close-room">
      <%= link_to "チャットを終了する", "#" %>
    </div>
  </div>
</div>

<div class="chat-messages">
  <ul class="message-list">
    <% 5.times do |i| %>
      <div class="message-container">
        <div class="name-and-date-container">
          <div class="speaker-name"><%= "Tom#{i + 1}" %></div>
          <div class="message-date">2020/3/31(Wed) 12:34:56</div>
        </div>
        <div class="message-text">おはよう</div>
      </div>
    <% end %>
  </ul>
</div>

<div class="chat-form">
</div>