<div class="chat-header">
  <div class="current-room-name">CurrentRoomName</div>
  <div class="close-room-container">
    <div class="close-room">
      <%= link_to "チャットを終了する", "#" %>
    </div>
  </div>
</div>

<div class="chat-messages">
</div>

<div class="chat-form">
</div>