<div class="message-container">
  <div class="name-and-date-container">
    <div class="message-name"><%= message.user.name %></div>
    <div class="message-date"><%= message.created_at %></div>
  </div>
  <div class="message-text"><%= message.content %></div>
</div>