<div class="side-header">
  <div class="side-header-user-name"><%= link_to current_user.name, edit_user_path(current_user) %></div>
  <div class="create-room"><%= link_to "チャットを作成する", new_room_path %></div>
</div>

<div class="side-rooms">
  <div class="room-list-container">
    <ul class="room-list">
      <% current_user.rooms.each do |room| %>
        <div class="room">
          <li class="room-name">
            <%= link_to "#{room.name}", room_messages_path(room) %>
          </li>
        </div>
      <% end %>
    </ul>
  </div>
</div>